<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Dein Gerätevorlagen-Ordner -->
    <add key="DeviceTemplatesPath" value="G:\Programme\Projekte\DMX Dimmer\files\devices" />
    
    <!-- ArtNet-Node IP -->
    <add key="ArtNetIP" value="192.168.2.192" />

    <!-- Nur Senden bei Dateinänderung -->
    <add key="SendOnlyWhenDirty" value="false" />
  </appSettings>
</configuration>
